plots/first_plot.png
__pycache__/
data_processing/__pycache__/
passwort_manager/__pycache__/
plots/__pycache__/
sourse/__pycache__/
user/__pycache__/
employ.db
user/admin
user/felix
user/jonas
user/tim